@keyframes dropHeader {
  0% {
    opacity: 0;
    transform: translate(-50%, -200%);
    position: fixed;
    top: 50%;
    left: 50%;
  }
  100% {
    transform: translate(-50%, -50%);
    position: fixed;
    top: 50%;
    left: 50%;
    opacity: 1;
  }
}

@keyframes showIcons {
  0% {
    opacity: 0;
    position: fixed;
    top: 60%;
  }
  100% {
    position: fixed;
    opacity: 1;
    top: 60%;
  }
}


@keyframes showIcons-mobile {
  0% {
    opacity: 0;
    position: fixed;
    top: 80%;
  }
  100% {
    position: fixed;
    opacity: 1;
    top: 80%;
  }
}


@keyframes dropHeaderPages {
  0% {
    opacity: 0;
    transform: translate(50%, 0);
    position: relative;
    top: 0%;
    left: 0%;
  }
  100% {
    transform: translate(0, 0);
    position: relative;
    top: 0%;
    left: 0%;
    opacity: 1;
  }
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
body {
  background-size: cover;
}

.main-content {
  overflow-x: hidden;
}


.body-home {
  background: url("images/BlackStarsAndLogoLarge.0375dca33216.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.body-pages {
  background: url("images/BlackStarsLarge.73fa58ca71af.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
}

.menu-home {
  animation: 1s ease-out 0.3s 1 both dropHeader;
  width: 100%;
  margin: auto;
  list-style-type: none;
  text-align: center;
  padding: 0px;
}

.icons-home {
  animation: 2s ease-out 1s 1 both showIcons-mobile;
  width: 100%;
  margin: auto;
  list-style-type: none;
  text-align: center;
  padding: 0px;
}

@media (min-width:992px) {
  .icons-home {
    animation: 2s ease-out 1s 1 both showIcons;
    width: 100%;
    margin: auto;
    list-style-type: none;
    text-align: center;
    padding: 0px;
  }
}

.menu-pages {
  animation: 0.7s ease-out 0.2s 1 both dropHeaderPages;
  width: 100%;
  margin: auto;
  list-style-type: none;
  text-align: center;
  padding: 50px 0px 10px 0px;
}

.menu-elements-home {
  display: block;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 0px 0px #000000;
}

.icon-elements-home {
  display: inline;
  padding: 15px;
  text-align: center;
  box-shadow: 0px 0px 0px #000000;
}



.menu-elements-pages {
  display: block;
  padding: 10px 15px;
  text-align: center;
  box-shadow: 0px 0px 0px #000000;
}

/* change menu to horizontal if the screen is larger then 992px */

@media (min-width:992px) {
  .menu-elements-home, .menu-elements-pages {
    display: inline;
    padding: 0px 15px;
  }
}


.menu-text, .menu-text:visited, .menu-text:active {
  font-family: 'Anton', sans-serif;
  font-weight: normal;
  font-size: 30px;
  color: white;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
  padding: 5px 8px;
}

.menu-text:hover, .menu-text:active {
  text-decoration: none;
  color: black;
  background-color: white;
}

.header {
  width: 100%;
}

.whitebackground {
  background: url("images/concretewall.2bbda78d75fb.jpg") center center;
  padding: 20px 0px 40px 0px;
  margin: 50px 0px;
  box-shadow: 8px 8px 15px RGBa(0, 0, 0, 0.50);
}

div.galleryRow {
  padding: 0 40 40 40px;
}
h1 {
  font-family: 'Anton', sans-serif;
  font-weight: normal;
  font-size: 60px;
  color: black;
  text-align: center;
}

h2 {
  font-family: 'Anton', sans-serif;
  font-weight: normal;
  font-size: 60px;
  color: white;
  text-align: center;
  padding: 20px;
}

.center {
  width: 100%;
  display: block;
  margin: 0 auto;
  text-align: center;
}

iframe {
  max-width: 100%;
  padding: 30px;
}

#videoContainerLeft {
  padding: 30px;
}

p {
  font-family: 'Droid Sans', sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: white;
  font-stretch: expanded;
  text-align: justify;

}

h3 {
  font-family: 'Droid Sans', sans-serif;
  font-weight: bolder;
  font-size: 24px;
  color: white;
  text-align: left;
  margin: auto;
  padding-left: 20px;
  padding-top: 25px;
}

.blacktext {
  color: black;
}

@media (max-width:992px) {
  .blacktext {
    padding: 10px 20px 0px 20px;

  }
}

a.contacttext {
  color: black;
  text-align: left;
  display: inline-block;
  padding: 10px;
}


p.contacttext {
  color: black;
  text-align: left;
  display: inline-block;
}

p.contacttextSmall {
  font-size: 14px;
}

a.contacttext:hover, p.contacttext:hover {
  color: #696969;
  text-align: left;
  display: inline-block;
  text-decoration: none;
}

a.link {
  color: white;
  text-decoration: underline;
}

a.link:hover {
  color: #696969;
  text-decoration: none;
}

.contacttext-padding {
  vertical-align: middle;
  padding-top: 10px;
}

.colcentered {
  float: none;
  margin: 0 auto;
  width: 60%;
}

p.verticalCenterText {
  position: relative;
  margin: auto;
  padding: 45px 20px;
}

p.leftText {
  text-align: justify;
  margin: auto;
  padding: 25px 20px;
  padding-top: 5px;
  padding-right: 30px;
  padding-bottom: 25px;
  padding-left: 20px;
}

p.subtitle {
  text-align: center;
}

#container-padding {
  padding-bottom: 120px;
}

li.itemDonate {
  list-style-type: square;
  color: white;
  margin-bottom: 5px;
}

img.liveVisual {
  margin: 20px;
  max-width: 470px;
  width: 130%;
  height: auto;
}

img.galleryPicture {
  padding-top: 15px;
  margin: 5px;
  width: 98%;
  height: auto;
}

img.contactIcon {
  width: 40px;
  max-width: 50px;
  display: inline-block;
  margin-right: 10px;
}

img.contactLogo {
  color: black;
  width: 300px;
  margin: auto;
}

img.donateIcon {
  max-height: 300px;
  margin: auto;
}

.sizeTextFrame {
  padding: 10px 10px 10px 0px;
}



/* center menu if the screen is smaller then then 992px */

@media (max-width:992px) {
  .centerContact {
    margin: auto;
    width: 50%;
    padding: 30 0 0 90px;
  }
}

.contactIntro, .donatePadding {
  padding-bottom: 20px;
}

.headingPadding {
  padding-bottom: 20px;
}

@media (max-width:992px) {
  .centerDonate {
    margin: auto;
    width: 80%;
    padding: 20 0 0 20px;
  }
}

img.homeIcon {
  width: 50px;
  max-width: 50px;
  display: inline-block;
  margin-right: 10px;
}


img.homeIcon:hover {
  transform: scale(1.3,1.3)
}

.playlistCenter {
margin: 0;
top: 50%;
transform: translateY(10%);

}

.sliderContent {
  position: relative;
  display: block;
}
